## Divvy Bike Share May 2017 - Subscriber Trip- Public Transportation Data

In [7]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from config import gkey

In [8]:
#Import CSV
bike_trips= pd.read_csv("chicago-divvy-bicycle-sharing-data\divvy_NonSubscribers_trips.csv")
bike_trips.head()

,Unnamed: 0,Trip_Duration,Trip,Start_Coords,End_Coords,Median_Duration_Mins,Median_Unix_StartTime,Size,Public_Duration
0,45,18.500000,"41.880958,-87.616743|41.892278000000005,-87.61...","41.880958,-87.616743","41.892278000000005,-87.612043",18.175000,1495367010,1230,NaN
1,96,5.283333,"41.892278000000005,-87.612043|41.8922780000000...","41.892278000000005,-87.612043","41.892278000000005,-87.612043",30.766667,1495456920,901,NaN
2,13,16.550000,"41.880958,-87.616743|41.880958,-87.616743","41.880958,-87.616743","41.880958,-87.616743",35.116667,1495127820,667,NaN
3,68,26.416667,"41.892278000000005,-87.612043|41.911722,-87.62...","41.892278000000005,-87.612043","41.911722,-87.626804",21.483333,1495764120,646,NaN
4,101,19.466667,"41.892278000000005,-87.612043|41.880958,-87.61...","41.892278000000005,-87.612043","41.880958,-87.616743",15.266667,1495364640,635,NaN

In [9]:
bike_trips["Distance"] = ''
bike_trips.head()

,Unnamed: 0,Trip_Duration,Trip,Start_Coords,End_Coords,Median_Duration_Mins,Median_Unix_StartTime,Size,Public_Duration,Distance
0,45,18.500000,"41.880958,-87.616743|41.892278000000005,-87.61...","41.880958,-87.616743","41.892278000000005,-87.612043",18.175000,1495367010,1230,NaN,
1,96,5.283333,"41.892278000000005,-87.612043|41.8922780000000...","41.892278000000005,-87.612043","41.892278000000005,-87.612043",30.766667,1495456920,901,NaN,
2,13,16.550000,"41.880958,-87.616743|41.880958,-87.616743","41.880958,-87.616743","41.880958,-87.616743",35.116667,1495127820,667,NaN,
3,68,26.416667,"41.892278000000005,-87.612043|41.911722,-87.62...","41.892278000000005,-87.612043","41.911722,-87.626804",21.483333,1495764120,646,NaN,
4,101,19.466667,"41.892278000000005,-87.612043|41.880958,-87.61...","41.892278000000005,-87.612043","41.880958,-87.616743",15.266667,1495364640,635,NaN,

In [10]:
### FOR TESTING ONLY ###
# create a test dataframe
test_df = bike_trips.iloc[0:4]
test_df

,Unnamed: 0,Trip_Duration,Trip,Start_Coords,End_Coords,Median_Duration_Mins,Median_Unix_StartTime,Size,Public_Duration,Distance
0,45,18.500000,"41.880958,-87.616743|41.892278000000005,-87.61...","41.880958,-87.616743","41.892278000000005,-87.612043",18.175000,1495367010,1230,NaN,
1,96,5.283333,"41.892278000000005,-87.612043|41.8922780000000...","41.892278000000005,-87.612043","41.892278000000005,-87.612043",30.766667,1495456920,901,NaN,
2,13,16.550000,"41.880958,-87.616743|41.880958,-87.616743","41.880958,-87.616743","41.880958,-87.616743",35.116667,1495127820,667,NaN,
3,68,26.416667,"41.892278000000005,-87.612043|41.911722,-87.62...","41.892278000000005,-87.612043","41.911722,-87.626804",21.483333,1495764120,646,NaN,

In [11]:
# parameters for the API call
params = {
    "mode": "transit",
    "key": gkey
}

count = 0

print("Beginning Data Retrieval     ")
print("-----------------------------")

# Use the start and end coordinates to get the directions
####### CHANGE THE DATAFRAME FROM TEST ############
for index, row in test_df.iterrows():
    
    origin = row["Start_Coords"]
    destination = row["End_Coords"]
    departure_time = row["Median_Unix_StartTime"]

    # change location each iteration while leaving original params in place
    params["origin"] = f"{origin}"
    params["destination"] = f"{destination}"
    params["departure_time"] = f"{departure_time}"
    
    base_url = "https://maps.googleapis.com/maps/api/directions/json"

    # make request and print url
    directions = requests.get(base_url, params=params)
    print(directions.url)

    count += 1
    print(count)
    
    # convert to json
    directions = directions.json()

    try:
        test_df.set_value(index, "Public_Duration",
                            directions["routes"][0]["legs"][0]["duration"]["value"])
        test_df.set_value(index, "Distance",
                            directions["routes"][0]["legs"][0]["distance"]["value"])
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
print ("---------------------------------------")
print ("Data Retrieval Complete")
print ("---------------------------------------")

Beginning Data Retrieval
-----------------------------
https://maps.googleapis.com/maps/api/directions/json?mode=transit&key=IzaSyBl0Ge9rw4bJCSxsG1f35sNe3-FBxpm43M&origin=41.880958%2C-87.616743&destination=41.892278000000005%2C-87.612043&departure_time=1495367010
1
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/directions/json?mode=transit&key=IzaSyBl0Ge9rw4bJCSxsG1f35sNe3-FBxpm43M&origin=41.892278000000005%2C-87.612043&destination=41.892278000000005%2C-87.612043&departure_time=1495456920
2
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/directions/json?mode=transit&key=IzaSyBl0Ge9rw4bJCSxsG1f35sNe3-FBxpm43M&origin=41.880958%2C-87.616743&destination=41.880958%2C-87.616743&departure_time=1495127820
3
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/directions/json?mode=transit&key=IzaSyBl0Ge9rw4bJCSxsG1f35sNe3-FBxpm43M&origin=41.892278000000005%2C-87.612043&destination=41.911722%2C-87.626804&departure_time=1495764120
4
Missing field/result... skipping.
---------------------------------------
Data Retrieval Complete
---------------------------------------

In [12]:
bike_trips.head()

,Unnamed: 0,Trip_Duration,Trip,Start_Coords,End_Coords,Median_Duration_Mins,Median_Unix_StartTime,Size,Public_Duration,Distance
0,45,18.500000,"41.880958,-87.616743|41.892278000000005,-87.61...","41.880958,-87.616743","41.892278000000005,-87.612043",18.175000,1495367010,1230,NaN,
1,96,5.283333,"41.892278000000005,-87.612043|41.8922780000000...","41.892278000000005,-87.612043","41.892278000000005,-87.612043",30.766667,1495456920,901,NaN,
2,13,16.550000,"41.880958,-87.616743|41.880958,-87.616743","41.880958,-87.616743","41.880958,-87.616743",35.116667,1495127820,667,NaN,
3,68,26.416667,"41.892278000000005,-87.612043|41.911722,-87.62...","41.892278000000005,-87.612043","41.911722,-87.626804",21.483333,1495764120,646,NaN,
4,101,19.466667,"41.892278000000005,-87.612043|41.880958,-87.61...","41.892278000000005,-87.612043","41.880958,-87.616743",15.266667,1495364640,635,NaN,

In [13]:
# convert the public transportation duration from seconds to minutes# conver 
bike_trips['Public_Duration_Mins'] = bike_trips['Public_Duration'] / 60
bike_trips.head(10)

,Unnamed: 0,Trip_Duration,Trip,Start_Coords,End_Coords,Median_Duration_Mins,Median_Unix_StartTime,Size,Public_Duration,Distance,Public_Duration_Mins
0,45,18.500000,"41.880958,-87.616743|41.892278000000005,-87.61...","41.880958,-87.616743","41.892278000000005,-87.612043",18.175000,1495367010,1230,NaN,,NaN
1,96,5.283333,"41.892278000000005,-87.612043|41.8922780000000...","41.892278000000005,-87.612043","41.892278000000005,-87.612043",30.766667,1495456920,901,NaN,,NaN
2,13,16.550000,"41.880958,-87.616743|41.880958,-87.616743","41.880958,-87.616743","41.880958,-87.616743",35.116667,1495127820,667,NaN,,NaN
3,68,26.416667,"41.892278000000005,-87.612043|41.911722,-87.62...","41.892278000000005,-87.612043","41.911722,-87.626804",21.483333,1495764120,646,NaN,,NaN
4,101,19.466667,"41.892278000000005,-87.612043|41.880958,-87.61...","41.892278000000005,-87.612043","41.880958,-87.616743",15.266667,1495364640,635,NaN,,NaN
5,78,17.700000,"41.911722,-87.626804|41.892278000000005,-87.61...","41.911722,-87.626804","41.892278000000005,-87.612043",17.783333,1495805700,600,NaN,,NaN
6,338,17.216667,"41.892278000000005,-87.612043|41.926277,-87.63...","41.892278000000005,-87.612043","41.926277,-87.630834",24.816667,1495448340,559,NaN,,NaN
7,130,15.283333,"41.926277,-87.630834|41.892278000000005,-87.61...","41.926277,-87.630834","41.892278000000005,-87.612043",23.758333,1495450860,456,NaN,,NaN
8,120,15.833333,"41.88504199,-87.61279454|41.892278000000005,-8...","41.88504199,-87.61279454","41.892278000000005,-87.612043",16.666667,1495803510,372,NaN,,NaN
9,296,16.950000,"41.892278000000005,-87.612043|41.8810317,-87.6...","41.892278000000005,-87.612043","41.8810317,-87.62408432",22.983333,1495384080,357,NaN,,NaN

In [14]:
# add a column calculating the time saved
bike_trips['Time_Saved'] = bike_trips['Public_Duration_Mins'] - bike_trips['Median_Duration_Mins']
bike_trips.head()

,Unnamed: 0,Trip_Duration,Trip,Start_Coords,End_Coords,Median_Duration_Mins,Median_Unix_StartTime,Size,Public_Duration,Distance,Public_Duration_Mins,Time_Saved
0,45,18.500000,"41.880958,-87.616743|41.892278000000005,-87.61...","41.880958,-87.616743","41.892278000000005,-87.612043",18.175000,1495367010,1230,NaN,,NaN,NaN
1,96,5.283333,"41.892278000000005,-87.612043|41.8922780000000...","41.892278000000005,-87.612043","41.892278000000005,-87.612043",30.766667,1495456920,901,NaN,,NaN,NaN
2,13,16.550000,"41.880958,-87.616743|41.880958,-87.616743","41.880958,-87.616743","41.880958,-87.616743",35.116667,1495127820,667,NaN,,NaN,NaN
3,68,26.416667,"41.892278000000005,-87.612043|41.911722,-87.62...","41.892278000000005,-87.612043","41.911722,-87.626804",21.483333,1495764120,646,NaN,,NaN,NaN
4,101,19.466667,"41.892278000000005,-87.612043|41.880958,-87.61...","41.892278000000005,-87.612043","41.880958,-87.616743",15.266667,1495364640,635,NaN,,NaN,NaN