## Divvy Bike Share May 2017 - Subscriber Trip- Public Transportation Data

In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from config import gkey

In [2]:
#Import CSV
bike_trips= pd.read_csv("chicago-divvy-bicycle-sharing-data\divvy_subscribers_trips.csv")
bike_trips.head()

,Unnamed: 0,Trip_Duration,Trip,Start_Coords,End_Coords,Median_Duration_Mins,Median_Unix_StartTime,Median_Age,Size,Public_Duration
0,436,5.700000,"41.882090999999996,-87.639833|41.88389277,-87....","41.882090999999996,-87.639833","41.88389277,-87.62464914",7.291667,1494835500,30.0,286,NaN
1,685,5.000000,"41.88327159,-87.63731329|41.88389277,-87.62464914","41.88327159,-87.63731329","41.88389277,-87.62464914",6.200000,1494919260,32.0,259,NaN
2,68,6.583333,"41.842052,-87.617|41.834734000000005,-87.625813","41.842052,-87.617","41.834734000000005,-87.625813",8.208333,1495117590,51.5,238,NaN
3,379,9.666667,"41.884728,-87.61952099999999|41.88337999999999...","41.884728,-87.61952099999999","41.883379999999995,-87.64116999999999",9.200000,1494950040,31.0,231,NaN
4,6098,15.633333,"41.892278000000005,-87.612043|41.926277,-87.63...","41.892278000000005,-87.612043","41.926277,-87.630834",19.016667,1495185600,36.0,207,NaN

In [3]:
bike_trips["Distance"] = ''
bike_trips.head()

,Unnamed: 0,Trip_Duration,Trip,Start_Coords,End_Coords,Median_Duration_Mins,Median_Unix_StartTime,Median_Age,Size,Public_Duration,Distance
0,436,5.700000,"41.882090999999996,-87.639833|41.88389277,-87....","41.882090999999996,-87.639833","41.88389277,-87.62464914",7.291667,1494835500,30.0,286,NaN,
1,685,5.000000,"41.88327159,-87.63731329|41.88389277,-87.62464914","41.88327159,-87.63731329","41.88389277,-87.62464914",6.200000,1494919260,32.0,259,NaN,
2,68,6.583333,"41.842052,-87.617|41.834734000000005,-87.625813","41.842052,-87.617","41.834734000000005,-87.625813",8.208333,1495117590,51.5,238,NaN,
3,379,9.666667,"41.884728,-87.61952099999999|41.88337999999999...","41.884728,-87.61952099999999","41.883379999999995,-87.64116999999999",9.200000,1494950040,31.0,231,NaN,
4,6098,15.633333,"41.892278000000005,-87.612043|41.926277,-87.63...","41.892278000000005,-87.612043","41.926277,-87.630834",19.016667,1495185600,36.0,207,NaN,

In [4]:
### FOR TESTING ONLY ###
# create a test dataframe
test_df = bike_trips.iloc[0:4]
test_df

,Unnamed: 0,Trip_Duration,Trip,Start_Coords,End_Coords,Median_Duration_Mins,Median_Unix_StartTime,Median_Age,Size,Public_Duration,Distance
0,436,5.700000,"41.882090999999996,-87.639833|41.88389277,-87....","41.882090999999996,-87.639833","41.88389277,-87.62464914",7.291667,1494835500,30.0,286,NaN,
1,685,5.000000,"41.88327159,-87.63731329|41.88389277,-87.62464914","41.88327159,-87.63731329","41.88389277,-87.62464914",6.200000,1494919260,32.0,259,NaN,
2,68,6.583333,"41.842052,-87.617|41.834734000000005,-87.625813","41.842052,-87.617","41.834734000000005,-87.625813",8.208333,1495117590,51.5,238,NaN,
3,379,9.666667,"41.884728,-87.61952099999999|41.88337999999999...","41.884728,-87.61952099999999","41.883379999999995,-87.64116999999999",9.200000,1494950040,31.0,231,NaN,

In [6]:
# parameters for the API call
params = {
    "mode": "transit",
    "key": gkey
}

count = 0

print("Beginning Data Retrieval     ")
print("-----------------------------")

# Use the start and end coordinates to get the directions
####### CHANGE THE DATAFRAME FROM TEST ############
for index, row in test_df.iterrows():
    
    origin = row["Start_Coords"]
    destination = row["End_Coords"]
    departure_time = row["Median_Unix_StartTime"]

    # change location each iteration while leaving original params in place
    params["origin"] = f"{origin}"
    params["destination"] = f"{destination}"
    params["departure_time"] = f"{departure_time}"
    
    base_url = "https://maps.googleapis.com/maps/api/directions/json"

    # make request and print url
    directions = requests.get(base_url, params=params)
    print(directions.url)

    count += 1
    print(count)
    
    # convert to json
    directions = directions.json()

    try:
        test_df.set_value(index, "Public_Duration",
                            directions["routes"][0]["legs"][0]["duration"]["value"])
        test_df.set_value(index, "Distance",
                            directions["routes"][0]["legs"][0]["distance"]["value"])
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
print ("---------------------------------------")
print ("Data Retrieval Complete")
print ("---------------------------------------")

Beginning Data Retrieval
-----------------------------
https://maps.googleapis.com/maps/api/directions/json?mode=transit&key=AIzaSyCPQyGwsy0pGDl3BzR76vP83smRHFvFOxo&origin=41.882090999999996%2C-87.639833&destination=41.88389277%2C-87.62464914&departure_time=1494835500
1
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/directions/json?mode=transit&key=AIzaSyCPQyGwsy0pGDl3BzR76vP83smRHFvFOxo&origin=41.88327159%2C-87.63731329&destination=41.88389277%2C-87.62464914&departure_time=1494919260
2
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/directions/json?mode=transit&key=AIzaSyCPQyGwsy0pGDl3BzR76vP83smRHFvFOxo&origin=41.842052%2C-87.617&destination=41.834734000000005%2C-87.625813&departure_time=1495117590
3
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/directions/json?mode=transit&key=AIzaSyCPQyGwsy0pGDl3BzR76vP83smRHFvFOxo&origin=41.884728%2C-87.61952099999999&destination=41.883379999999995%2C-87.64116999999999&departure_time=1494950040
4
Missing field/result... skipping.
---------------------------------------
Data Retrieval Complete
---------------------------------------

In [7]:
bike_trips.head()

,Unnamed: 0,Trip_Duration,Trip,Start_Coords,End_Coords,Median_Duration_Mins,Median_Unix_StartTime,Median_Age,Size,Public_Duration,Distance
0,436,5.700000,"41.882090999999996,-87.639833|41.88389277,-87....","41.882090999999996,-87.639833","41.88389277,-87.62464914",7.291667,1494835500,30.0,286,NaN,
1,685,5.000000,"41.88327159,-87.63731329|41.88389277,-87.62464914","41.88327159,-87.63731329","41.88389277,-87.62464914",6.200000,1494919260,32.0,259,NaN,
2,68,6.583333,"41.842052,-87.617|41.834734000000005,-87.625813","41.842052,-87.617","41.834734000000005,-87.625813",8.208333,1495117590,51.5,238,NaN,
3,379,9.666667,"41.884728,-87.61952099999999|41.88337999999999...","41.884728,-87.61952099999999","41.883379999999995,-87.64116999999999",9.200000,1494950040,31.0,231,NaN,
4,6098,15.633333,"41.892278000000005,-87.612043|41.926277,-87.63...","41.892278000000005,-87.612043","41.926277,-87.630834",19.016667,1495185600,36.0,207,NaN,

In [8]:
# convert the public transportation duration from seconds to minutes# conver 
bike_trips['Public_Duration_Mins'] = bike_trips['Public_Duration'] / 60
bike_trips.head(10)

,Unnamed: 0,Trip_Duration,Trip,Start_Coords,End_Coords,Median_Duration_Mins,Median_Unix_StartTime,Median_Age,Size,Public_Duration,Distance,Public_Duration_Mins
0,436,5.700000,"41.882090999999996,-87.639833|41.88389277,-87....","41.882090999999996,-87.639833","41.88389277,-87.62464914",7.291667,1494835500,30.0,286,NaN,,NaN
1,685,5.000000,"41.88327159,-87.63731329|41.88389277,-87.62464914","41.88327159,-87.63731329","41.88389277,-87.62464914",6.200000,1494919260,32.0,259,NaN,,NaN
2,68,6.583333,"41.842052,-87.617|41.834734000000005,-87.625813","41.842052,-87.617","41.834734000000005,-87.625813",8.208333,1495117590,51.5,238,NaN,,NaN
3,379,9.666667,"41.884728,-87.61952099999999|41.88337999999999...","41.884728,-87.61952099999999","41.883379999999995,-87.64116999999999",9.200000,1494950040,31.0,231,NaN,,NaN
4,6098,15.633333,"41.892278000000005,-87.612043|41.926277,-87.63...","41.892278000000005,-87.612043","41.926277,-87.630834",19.016667,1495185600,36.0,207,NaN,,NaN
5,2375,10.566667,"41.838556,-87.60821800000001|41.856268,-87.613348","41.838556,-87.60821800000001","41.856268,-87.613348",13.083333,1495382160,45.0,205,NaN,,NaN
6,5,9.416667,"41.834734000000005,-87.625813|41.842052,-87.617","41.834734000000005,-87.625813","41.842052,-87.617",8.766667,1494950040,47.0,199,NaN,,NaN
7,411,5.633333,"41.88389277,-87.62464914|41.883379999999995,-8...","41.88389277,-87.62464914","41.883379999999995,-87.64116999999999",7.883333,1494955320,32.0,194,NaN,,NaN
8,288,5.466667,"41.883379999999995,-87.64116999999999|41.88389...","41.883379999999995,-87.64116999999999","41.88389277,-87.62464914",7.900000,1494920190,33.0,192,NaN,,NaN
9,1447,10.383333,"41.884728,-87.61952099999999|41.88209099999999...","41.884728,-87.61952099999999","41.882090999999996,-87.639833",9.333333,1494936720,28.0,189,NaN,,NaN

In [13]:
# add a column calculating the time saved
bike_trips['Time_Saved'] = bike_trips['Public_Duration_Mins'] - bike_trips['Median_Duration_Mins']
bike_trips.head()

,Unnamed: 0,Trip_Duration,Trip,Start_Coords,End_Coords,Median_Duration_Mins,Median_Unix_StartTime,Median_Age,Size,Public_Duration,Distance,Public_Duration_Mins,Time_Saved
0,436,5.700000,"41.882090999999996,-87.639833|41.88389277,-87....","41.882090999999996,-87.639833","41.88389277,-87.62464914",7.291667,1494835500,30.0,286,NaN,,NaN,NaN
1,685,5.000000,"41.88327159,-87.63731329|41.88389277,-87.62464914","41.88327159,-87.63731329","41.88389277,-87.62464914",6.200000,1494919260,32.0,259,NaN,,NaN,NaN
2,68,6.583333,"41.842052,-87.617|41.834734000000005,-87.625813","41.842052,-87.617","41.834734000000005,-87.625813",8.208333,1495117590,51.5,238,NaN,,NaN,NaN
3,379,9.666667,"41.884728,-87.61952099999999|41.88337999999999...","41.884728,-87.61952099999999","41.883379999999995,-87.64116999999999",9.200000,1494950040,31.0,231,NaN,,NaN,NaN
4,6098,15.633333,"41.892278000000005,-87.612043|41.926277,-87.63...","41.892278000000005,-87.612043","41.926277,-87.630834",19.016667,1495185600,36.0,207,NaN,,NaN,NaN